<div class="container">
    <form [formGroup]="forgotForm">
        <h2 class="login">Forgot</h2>
        <div class="email">
            <label>Email:</label><br>
            <input class="field1" type="email" placeholder="Username"
            formControlName="email" id="mail" required>
            <div *ngIf="forgotForm.controls['email'].errors && forgotForm.controls['email'].touched">
                <span class="error-span"
                *ngIf="forgotForm.controls['email']errors[required]">
                Email is required
                </span>
            </div>
        </div>
        <button class="button" type="submit" (click)="onsave()">submit</button>
    </form>
</div>

    
    